@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto:wght@700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* HEADER AND FOOTER */
/* Header - Logo and Navigation */
header {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    background-color: #eeeeee;
}

header h1 {
    justify-self: center;
    padding: 20px 0 20px 15px;
    
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

header h1 a {
    text-decoration: none;
    color: #222831;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 25px 0;
}

header nav ul li a {
    text-decoration: none;
    font-size: 1.25rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: #222831;
}

header nav ul li a:hover,
header nav ul li a.current-page {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: #00adb5;
}

/* Footer with social links */
footer {
    padding-top: 30px;
    min-height: 100px;
    max-height: auto;
    width: 100%;
    background-color: #eeeeee;
    display: grid;
    grid-template-columns: 1fr;
}

footer #copyright {
    display: flex;
    justify-content: center;
    font-size: 150%;
    font-weight: bold;
    color: #222831;
    font-family: 'Quicksand', sans-serif;
}

footer #social-links {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    font-size: 250%;
}

footer #social-links a {
    color: #222831;
}

footer #social-links a:hover {
    color: #00adb5;
}


/* INDEX PAGE */
/* Main - Hero Image */
#index-main {
    height: 800px;
    width: 100%;
    position: relative;
}

#index-main #hero-image {
    height: 100%;
    background: url('../img/main-hero-image-new.jpg') no-repeat center;
    width: 100%;
}

#index-main #hero-image-text {
    width: 320px;
    height: 350px;

    font-size: 180%;

    background-color: rgba(0, 173, 181, 0.6);

    bottom: 150px;
    right: 0%;

    border-radius: 40px;

    position: absolute;
}

#index-main #hero-image-text h2, #hero-image-text h3 {
    text-align: center;
    padding: 20px;
    font-family: 'Quicksand', sans-serif;
}


/* Why choose us section */
#why-choose-us {
    min-height: 800px;
    max-height: auto;
    width: 100%;
    background-color: #222831;
}

#why-choose-us h2 {
    font-size: 240%;
    color: #eeeeee;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    padding: 50px;
}

#index-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

#index-grid-container .grid-item {
    font-family: 'Quicksand', sans-serif;
    color: #eeeeee;
    padding: 30px;
    text-align: center;
}

#index-grid-container .grid-item h3 {
    padding-bottom: 15px;
    font-size: 160%;
}

#index-grid-container .grid-item hr {
    margin: 0 auto;
    max-width: 500px;
}

#index-grid-container .grid-item p {
    padding: 15px 0;
    font-size: 120%;
    max-width: 500px;
    margin: 0 auto;
}

#history-section {
    min-height: 600px;
    max-height: auto;
    width: 100%;
    background-color: #222831;
}

#history-section h2 {
    font-size: 240%;
    color: #eeeeee;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    padding: 50px;
}

#history-section p {
    font-size: 140%;
    color: #eeeeee;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    padding: 20px;
}

/* TRICKS PAGE */
.tricks-main {
    min-height: 500px;
    max-height: auto;
    width: 100%;
    background-color: #222831;
    color: #eeeeee;
    font-family: 'Quicksand', sans-serif;
    font-size: 140%;
    text-align: center;
    padding: 15px;
}

.tricks-main h1, .tricks-main p,
.tricks-main h2 {
    padding: 20px 0px;
}

section.light-section , section.dark-section {
    min-height: 500px;
    max-height: auto;
    height: auto;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    font-size: 140%;
    text-align: center;
}

section.dark-section {
    background-color: #222831;
    color: #eeeeee;
    display: grid;
    grid-template-columns: 1fr;
}

section.light-section {
    background-color: #eeeeee;
    color: #222831;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
}

section.light-section, section.dark-section {
    padding: 15px;
}

section.light-section h2,
section.light-section p, 
section.dark-section h2,
section.dark-section p {
    padding: 20px 0;
}


/* BOARDS PAGE */
#boards-intro {
    min-height: auto;
    width: 100%;
    background-color: #222831;
    color: #eeeeee;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 140%;
    padding: 15px;
}

#boards-intro h1, #boards-intro p {
    padding: 20px 0;
}

section.boards-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #222831;
    color: #eeeeee;
    font-size: 100%;
    font-family: 'Quicksand', sans-serif;
}

.boards-grid-container .boards-main-grid-item {
    height: 300px;
    max-width: 500px;
    display: grid;
    border: #00adb5 solid 5px;
    border-radius: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin: 20px 0;
    overflow: hidden;
}

.boards-grid-container .boards-main-grid-item .boards-grid-item {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.boards-grid-container .boards-main-grid-item .boards-grid-item img {
    height: 100%;
    width: 70%;
}

.boards-grid-container .boards-main-grid-item .boards-grid-item h3,
.boards-grid-container .boards-main-grid-item .boards-grid-item p,
.boards-grid-container .boards-main-grid-item .boards-grid-item span {
    font-weight: bold;
    padding: 1px;
}

.boards-grid-container .boards-main-grid-item .boards-grid-item h3,
.boards-grid-container .boards-main-grid-item .boards-grid-item p {
    padding-left: 10px;
}

.boards-grid-container .boards-main-grid-item .boards-grid-item input {
    display: block;
    height: 20px;
    width: 80px;
    font-family: 'Quicksand', sans-serif;
    background-color: #eeeeee;
    border: 0;
    font-size: 100%;
    font-weight: bold;
}

.boards-grid-container .boards-main-grid-item .boards-grid-item input:hover {
    background-color: #00adb5;
}



/* CONTACT PAGE */
#contact-intro {
    font-size: 140%;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    min-height: 600px;
    max-height: auto;
    background-color: #222831;
    color: #eeeeee;
    text-align: center;
}
#contact-intro h1 {
    padding: 40px 0;
}
#contact-intro p {
    padding-bottom: 25px;
}

#contact-intro #contact-grid-container {
    display: grid;
    grid-template-columns: 1fr;
}

#contact-intro #contact-grid-container .contact-grid-item form {
    width: 100%;
}

#contact-intro #contact-grid-container .contact-grid-item {
    padding-top: 50px;
}

#contact-intro #contact-grid-container .contact-grid-item iframe {
    min-width: 320px;
    max-width: auto;
    min-height: 320px;
    max-height: 700px;
}

#contact-intro #contact-grid-container .contact-grid-item form fieldset {
    padding: 20px 0;
    max-width: 650px;
    margin: 0 auto;
}
#contact-grid-container .contact-grid-item form input,
#contact-grid-container .contact-grid-item form textarea {
    max-width: 60%;
    margin: 5px 0;
    background-color: #eeeeee;
    color: #222831;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    text-align: center;
}
#contact-grid-container .contact-grid-item form #form-submit {
    width: 100px;
    height: 50px;
    background-color: #eeeeee;
    color: #222831;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

/* 404 PAGE */
#error-404 {
    background-color: #222831;
    color: #eeeeee;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
}

#error-404 .grid-item-404 h2,
#error-404 .grid-item-404 p {
    padding: 40px 0;
}

#error-404 .grid-item-404 img {
    max-width: 320px;
    max-height: 320px;
    margin: 40px 0;
}


/* MEDIA QUERIES */
/* Small Phones */
@media screen and (max-width: 349px) {
    /* Index and nav and footer */
    header nav ul li a {
        font-size: 1rem;
    }
    footer #copyright {
        font-size: 120%;
    }
    footer #social-links {
        font-size: 150%;
    }
    /* Tricks page */
    section.light-section, section.dark-section {
        padding: 0;
    }
}

/* Ipads and tablets */
@media screen and (min-width: 845px) {
    /* Making Header and navbar responsive */
    header {
        grid-template-columns: 1fr 1fr;
    }
    header h1 {
        justify-self: flex-start;
    }

    /* Making the footer responsive */
    footer {
        grid-template-columns: 1fr 1fr;
    }
    footer #copyright {
        justify-content: flex-start;
        padding: 10px 0 0 20px;
    }
    footer #social-links {
        padding-top: 0;
    }

    /* Index */
    #index-grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* Tricks */
    section.dark-section {
        grid-template-columns: 1fr 1fr;
    }

    section.light-section {
        grid-template-columns: 1fr 1fr;
    }

    section.light-section .tricks-grid-item.tricks-video,
    section.dark-section .tricks-grid-item.tricks-video {
        margin: auto;
    }

    /* Boards */
    section.boards-grid-container {
        grid-template-columns: 1fr 1fr;
    }

}

/* larger screens */
@media screen and (min-width: 1400px) {

    /* Boards */
    section.boards-grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    /* Contact */
    #contact-intro #contact-grid-container {
        grid-template-columns: 1fr 1fr;
    }
    #contact-intro #contact-grid-container .contact-grid-item {
        padding: 50px;
    }
    #contact-intro #contact-grid-container .contact-grid-item iframe {
        padding: 50px;
        width: 600px;
        height: 600px;
    }

    /* 404 */
    #error-404 {
        grid-template-columns: 1fr 1fr;
    }
    #error-404 .grid-item-404 img {
        max-width: 800px;
        max-height:  500px;
        margin: 40px 0;
    }
}