@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto:wght@700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* HEADER AND FOOTER */
/* Header - Logo and Navigation */
header {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    background-color: #eeeeee;
}

header h1 {
    justify-self: center;
    padding: 20px 0 20px 15px;
    
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

header h1 a {
    text-decoration: none;
    color: #222831;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 25px 0;
}

header nav ul li a {
    text-decoration: none;
    font-size: 1.25rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: #222831;
}

header nav ul li a:hover {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: #00adb5;
}

/* Footer with social links */
footer {
    padding-top: 30px;
    min-height: 100px;
    max-height: auto;
    width: 100%;
    background-color: #eeeeee;
    display: grid;
    grid-template-columns: 1fr;
}

footer #copyright {
    display: flex;
    justify-content: center;
    font-size: 150%;
    font-weight: bold;
    color: #222831;
    font-family: 'Quicksand', sans-serif;
}

footer #social-links {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    font-size: 250%;
}

footer #social-links a {
    color: #222831;
}

footer #social-links a:hover {
    color: #00adb5;
}


/* INDEX PAGE */
/* Main - Hero Image */
#index-main {
    height: 800px;
    width: 100%;
    position: relative;
}

#index-main #hero-image {
    height: 100%;
    background: url('../img/main-hero-image-new.jpg') no-repeat center;
    width: 100%;
}

#index-main #hero-image-text {
    width: 350px;
    height: 300px;

    font-size: 180%;

    background-color: rgba(0, 173, 181, 0.6);

    bottom: 150px;
    right: 0%;

    border-radius: 40px;

    position: absolute;
}

#index-main #hero-image-text h2, #hero-image-text h3 {
    text-align: center;
    padding: 20px;
    font-family: 'Quicksand', sans-serif;
}


/* Why choose us section */
#why-choose-us {
    height: minmax(800px, auto);
    width: 100%;
    background-color: #222831;
}

#why-choose-us h2 {
    font-size: 240%;
    color: #eeeeee;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    padding: 50px;
}

#index-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

#index-grid-container .grid-item {
    font-family: 'Quicksand', sans-serif;
    color: #eeeeee;
    padding: 30px;
    text-align: center;
}

#index-grid-container .grid-item h3 {
    padding-bottom: 15px;
    font-size: 160%;
}

#index-grid-container .grid-item hr {
    margin: 0 50px;
}

#index-grid-container .grid-item p {
    padding: 15px 0;
    font-size: 120%;
}


/* TRICKS PAGE */
#tricks-main {
    min-height: 500px;
    max-height: auto;
    width: 100%;
    background-color: #222831;
    color: #eeeeee;
    font-family: 'Quicksand', sans-serif;
    font-size: 140%;
    text-align: center;
    padding: 15px;
}

main#tricks-main h1, main#tricks-main p {
    padding: 20px 0px;
}

section.light-section , section.dark-section {
    min-height: 500px;
    max-height: auto;
    height: auto;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    font-size: 140%;
    text-align: center;
}

section.dark-section {
    background-color: #222831;
    color: #eeeeee;
    display: grid;
    grid-template-columns: 1fr;
}

section.light-section {
    background-color: #eeeeee;
    color: #222831;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
}

section.light-section, section.dark-section {
    padding: 15px;
}

section.light-section h2,
section.light-section p, 
section.dark-section h2,
section.dark-section p {
    padding: 20px 0;
}


/* BOARDS PAGE */